*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/
/.idea/markdown-navigator/profiles_settings.xml
.DS_Store
/build
/captures
/app/build
