<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zephyrsoft.trackworktime"
    android:versionCode="11"
    android:versionName="0.5.8-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="WorkTimeTrackerApplication"
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <receiver android:name="Basics" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.zephyrsoft.trackworktime.Watchdog" >
        </receiver>

        <service
            android:name=".location.LocationTrackerService"
            android:enabled="true" >
        </service>

        <activity
            android:name="WorkTimeTrackerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="TimeAheadActivity"
            android:exported="false"
            android:label="@string/timeAheadTitle" >
        </activity>
        <activity
            android:name="EventListActivity"
            android:exported="false"
            android:label="@string/edit_events" >
        </activity>
        <activity
            android:name="EventEditActivity"
            android:exported="false"
            android:label="@string/edit_event" >
        </activity>
        <activity
            android:name="TaskListActivity"
            android:exported="false"
            android:label="@string/edit_tasks" >
        </activity>
        <activity
            android:name="OptionsActivity"
            android:exported="false"
            android:label="@string/preferences" >
        </activity>
        <activity
            android:name="AboutActivity"
            android:exported="false"
            android:label="@string/about" >
        </activity>
        <activity
            android:name="MessageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/message"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>