<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.zephyrsoft.trackworktime"
    android:versionCode="24"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="WorkTimeTrackerApplication"
        android:allowBackup="true"
        android:backupAgent="org.zephyrsoft.trackworktime.backup.WorkTimeTrackerBackupAgentHelper"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.trackworktime"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIWuqWwAhfQ8Ygb9ZqAPzmXYh_WdSTh3Hjqm8hmg" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.util.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name="Basics" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name="Watchdog" >
        </receiver>
        <receiver
            android:name="ThirdPartyReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="org.zephyrsoft.trackworktime.ClockIn" />
                <action android:name="org.zephyrsoft.trackworktime.ClockOut" />
            </intent-filter>
        </receiver>

        <service
            android:name=".location.LocationTrackerService"
            android:enabled="true" >
        </service>
        <service
            android:name=".location.WifiTrackerService"
            android:enabled="true" >
        </service>

        <activity
            android:name="WorkTimeTrackerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="TimeAheadActivity"
            android:exported="false"
            android:label="@string/timeAheadTitle" >
        </activity>
        <activity
            android:name="EventListActivity"
            android:exported="false"
            android:label="@string/edit_events" >
        </activity>
        <activity
            android:name="EventEditActivity"
            android:exported="false"
            android:label="@string/edit_event" >
        </activity>
        <activity
            android:name="TaskListActivity"
            android:exported="false"
            android:label="@string/edit_tasks" >
        </activity>
        <activity
            android:name="InsertDefaultTimesActivity"
            android:exported="false"
            android:label="@string/insert_default_times" >
        </activity>
        <activity
            android:name="OptionsActivity"
            android:exported="false"
            android:label="@string/preferences" >
        </activity>
        <activity
            android:name="AboutActivity"
            android:exported="false"
            android:label="@string/about" >
        </activity>
        <activity
            android:name="ReportsActivity"
            android:exported="false"
            android:label="@string/reports" >
        </activity>
        <activity
            android:name="MessageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/message"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
    </application>

</manifest>
